*{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightcyan;
}
.container{
display: flex;
justify-content: center;
margin-top: 10%;
}
.disk{
  background-color: rgb(88, 88, 88);
  width: 450px;
  height: 500px;
  border-top-right-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px;
}

/* ======TOP====== */

.top {
    background-color: rgb(22, 22, 22);
    width: 60%;
    height: 35%;
    border-radius: 0 0 15px 15px;
    border: 2px black solid;
}
.metal{
  background-color: rgb(122, 122, 122);
  width: 70%;
  height: 100%;
  margin-left: 30%;
  border-radius: 0 0 15px 15px;
}
.hold{
  background-color: rgb(22, 22, 22);
  width: 25%;
  height: 80%;
  margin-left: 50%;
  position: relative;
  top: 18px;
  border-radius: 5px;
}

/* ======BOT====== */

.bot{
    background-color: rgb(22, 22, 22);
    width: 70%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}
.line {
    width: 94%;
    height: 90%;
    margin: auto;
    margin-top: 13px;
    background: repeating-linear-gradient(white, white 20px, orange 20px, orange 25px);
    border-radius: 15px 15px 0 0;
}